// bower:scss
// endbower

@import 'config';
@import 'extends';

body {
  background: $color-gray-light;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-gray-dark;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: darken($color-gray-light, 5%);
  border-radius: 6px;
  padding: 60px;
  h1 {
    color: $color-red;
    line-height: 1;
    letter-spacing: -1px;
    margin: 1em 0em;
  }
}

button {
  @extend %button;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-gray-dark;
  margin: 1em 0;
  padding: 0;
}

ul {
  @extend %animated-bullet;
}

a {
  @extend %animated-background;
  color: $color-gray-dark;
  text-decoration: none;
}
